OPENCHARGEMAP_API_KEY=6685fc8c-31a5-4723-97ca-bd5caa58f879
OPENCHARGEMAP_BASE_URL=https://api.openchargemap.io/v3/poi/
COUNTRY_CODE=MA
MAX_RESULTS=100

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ev_charging_morocco
DB_USER=root
DB_PASSWORD=