<!-- heroComponent.html -->
<section class="hero">
  <!-- Video Background -->
  <video #heroVideo class="hero-video-bg" autoplay loop muted playsinline>
    <source src='/assets/img/vv.png' type="video/mp4">
    <source src='/assets/img/vv.png' type="video/mp4">
    Votre navigateur ne supporte pas la vidéo.
  </video>
  <div class="hero-overlay"></div>

 

  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Trouvez facilement les bornes de rechargee <span class="highlight">au Maroc</span>
      </h1>
      <p class="hero-subtitle">
        Localisez les stations de recharge pour véhicules électriques près de chez vous, planifiez vos trajets et rechargez en toute simplicité.
      </p>
      <div class="hero-buttons">
        <a href="#" class="btn-primary btn-large" (click)="onNavigateToMap($event)">
          <i class="fas fa-map-marker-alt"></i>
           Consulter la carte
        </a>
        <a href="#" class="btn-secondary btn-large" (click)="onNavigateToSignup($event)">
          <i class="fas fa-bolt"></i>
          Commencer
        </a>
      </div>
    </div>
    
  </div>
</section>